.main {
  background-image: url("./assets/images/background.jpg");
  min-width: 100vw;
  min-height: 100vh;
  display: flex;

  justify-content: center;

  overflow-x: hidden;
  overflow-y: auto;
}

html::-webkit-scrollbar { width: 0; }
.main::-webkit-scrollbar { width: 0; }

@font-face {
  font-family: 'IceKingdomFrozenCyrillic';
  src: url('./assets/Fonts/icekingdomfrozencyrillic_bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RingBear';
  src: url('./assets/Fonts/ringbearmedium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}