#root {
    background-image: url("./assets/images/background.jpg");
    min-width: 100vw;
    min-height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.envelope {
    position: relative;
    height: 572px;
    width: 800px;
}

.envelopeNotOpen {
    height: 572px;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.envelopeNotOpen:hover {
    box-shadow: 0 0 111.5px 42px rgb(255, 255, 255);
    transition: box-shadow 0.3s;
}

.envelopeImg,
.envelopeImgOpen {
    position: absolute;
    width: 800px;
    height: 572px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    filter: drop-shadow(-10px 10px 20.8px rgba(0, 0, 0, 0.65));
}

.envelopeImgOpen {
    transition: opacity 1s ease-in-out, right 2s ease-in-out, bottom 2s, transform 2s ease-in-out;
    height: 911px;
    bottom: 0;
    right: 0;
}

.envelopeRotating {
    transform: rotate(-15deg);
    right: 500px;
    bottom: 60px;
}

.stamp {
    width: 153px;
    height: 143px;
    position: absolute;
    left: calc(50% - 153px / 2);
    top: calc(50% - 143px / 2);
    filter: drop-shadow(-6px 6px 13.3px rgba(0, 0, 0, 0.25));
}

.opacityZero {
    opacity: 0;
}

.fadeOut {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fadeOut:hover {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

@media screen and (max-width: 1020px) {
    .envelope {
        height: 340px;
        width: 475px;
    }

    .envelopeImg {
        width: 475px;
        height: 340px;
    }

    .envelopeImgOpen {
        width: 475px;
        height: 541px;
    }

    .envelopeRotating {
        right: 300px;
    }

    .stamp {
        width: 103px;
        height: 96px;
        position: absolute;
        left: calc(50% - 103px / 2);
        top: calc(50% - 96px / 2);
    }

}

@media screen and (max-width: 560px) {
    .envelope {
        height: 214px;
        width: 316px;
    }

    .envelopeImg {
        height: 214px;
        width: 316px;
    }

    .envelopeImgOpen {
        width: 316px;
        height: 345px;
    }

    .envelopeRotating {
        right: 140px;
    }

    .stamp {
        width: 71px;
        height: 66px;
        position: absolute;
        left: calc(50% - 71px / 2);
        top: calc(50% - 66px / 2);
    }

}


.stmapHidden {
    left: 2000px;
    top: 1000px;
    opacity: 0;
    transition: left 2s, top 2s, opacity 0.5s ease-out;
}
